# ==============================================================================
# db-saver Configuration Environment Variables
# ==============================================================================

# Port d'écoute du serveur web
PORT=8080

# Authentification Web
ADMIN_USER=admin
ADMIN_PASSWORD=change_this_secret_password

# Répertoire de stockage pour la base de données interne SQLite et temporaires
DATA_DIR=./data
TMP_BACKUP_DIR=./data/tmp

# Emplacement du fichier de configuration rclone
RCLONE_CONFIG_PATH=./config/rclone.conf

# Fuseau horaire (utile pour les planifications cron)
TZ=Europe/Paris
